{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript"],
  "plugins": ["react", "@typescript-eslint", "import", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": ["error", "never", { "json": "ignorePackages" }],
    "import/order": [
      "error",
      { "newlines-between": "always", "alphabetize": { "order": "asc", "caseInsensitive": true } }
    ],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }],
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/jsx-sort-props": "error"
  }
}
